__SWISSMETRO__
- A revolutionary underground system in switzerland.
- We want to analyze the demand of such transportation

Transportation mode choice
- Train
 - Swissmetro 
  - Car

Variables
- Travel time : TRAIN_TT,SM_TT,CAR_TT
- Travel Cost : TRAIN_CO, SM_CO, CAR_CO
- Yearly subscription: GA (yearly subscription for public transport; here Train and Swissmetro)

IMPORT THE PACKAGES

In [2]:
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme.expressions import Beta, Variable
from biogeme import models

PREPARE THE DATA

In [21]:
data = pd.read_table("swissmetro.dat")
data

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10723,3,1,1,1192,4,1,7,1,0,5,...,148,13,30,93,17,30,0,156,56,2
10724,3,1,1,1192,4,1,7,1,0,5,...,148,12,30,96,16,10,0,96,70,3
10725,3,1,1,1192,4,1,7,1,0,5,...,148,16,60,93,16,20,0,96,56,3
10726,3,1,1,1192,4,1,7,1,0,5,...,178,16,30,96,17,30,0,96,91,2
10727,3,1,1,1192,4,1,7,1,0,5,...,148,13,60,96,21,30,0,120,70,3

In [40]:
data.describe() #another way to see data

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
count,10728.000000,10728.000000,10728.0,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,...,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000,10728.000000
mean,2.630034,0.630034,1.0,596.500000,2.914430,0.470638,2.888423,1.493289,0.678691,2.898490,...,166.626025,514.335477,70.100671,87.466350,670.340697,20.020507,0.118568,123.795209,78.742077,2.152778
std,0.482818,0.482818,0.0,344.116678,1.147443,0.499160,2.191100,0.708293,0.603388,1.031726,...,77.353284,1088.931881,37.431633,53.550371,1441.594614,8.161895,0.323295,88.710743,55.263663,0.632293
min,2.000000,0.000000,1.0,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,31.000000,4.000000,30.000000,8.000000,6.000000,10.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,1.0,298.750000,2.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,109.000000,58.000000,30.000000,55.000000,70.000000,10.000000,0.000000,70.000000,40.000000,2.000000
50%,3.000000,1.000000,1.0,596.500000,3.000000,0.000000,3.000000,1.000000,1.000000,3.000000,...,157.000000,94.000000,60.000000,78.000000,111.000000,20.000000,0.000000,120.000000,76.000000,2.000000
75%,3.000000,1.000000,1.0,894.250000,3.250000,1.000000,3.000000,2.000000,1.000000,4.000000,...,209.000000,170.000000,120.000000,109.000000,209.000000,30.000000,0.000000,176.000000,112.000000,3.000000
max,3.000000,1.000000,1.0,1192.000000,9.000000,1.000000,10.000000,3.000000,3.000000,6.000000,...,1049.000000,5040.000000,120.000000,796.000000,6720.000000,30.000000,1.000000,1560.000000,520.000000,3.000000

In [23]:
database = db.Database("swissmetro",data)

 Define variables referring to the columns in the database

In [12]:

CHOICE = Variable('CHOICE')
PURPOSE = Variable('PURPOSE')
TRAIN_AV = Variable('TRAIN_AV')
TRAIN_CO = Variable('TRAIN_CO')
TRAIN_TT = Variable('TRAIN_TT')
SM_CO = Variable('SM_CO')
SM_TT = Variable('SM_TT')
SM_AV = Variable('SM_AV')
CAR_AV = Variable('CAR_AV')
CAR_CO = Variable('CAR_CO')
CAR_TT = Variable('CAR_TT')
GA = Variable('GA')
SP = Variable('SP')

REMOVE SOME OBSERVATIONS

In [24]:
database.getSampleSize()

10728

In [42]:
exclude = (( PURPOSE != 1 )  * ( PURPOSE != 3 ) + ( CHOICE == 0 )) > 0
#remove the observations for which exclude variable is true
database.remove(exclude)
print(database)

biogeme database swissmetro:
      GROUP  SURVEY  SP   ID  PURPOSE  FIRST  TICKET  WHO  LUGGAGE  AGE  ...  \
0         2       0   1    1        1      0       1    1        0    3  ...
1         2       0   1    1        1      0       1    1        0    3  ...
2         2       0   1    1        1      0       1    1        0    3  ...
3         2       0   1    1        1      0       1    1        0    3  ...
4         2       0   1    1        1      0       1    1        0    3  ...
...     ...     ...  ..  ...      ...    ...     ...  ...      ...  ...  ...
8446      3       1   1  939        3      1       7    3        1    5  ...
8447      3       1   1  939        3      1       7    3        1    5  ...
8448      3       1   1  939        3      1       7    3        1    5  ...
8449      3       1   1  939        3      1       7    3        1    5  ...
8450      3       1   1  939        3      1       7    3        1    5  ...

      TRAIN_TT  TRAIN_CO  TRAIN_HE  SM_TT  SM_CO  SM_HE  SM_SEATS  CAR_TT  \
0          112        48       120     63     52     20         0     117
1          103        48        30     60     49     10         0     117
2          130        48        60     67     58     30         0     117
3          103        40        30     63     52     20         0      72
4          130        36        60     63     42     20         0      90
...        ...       ...       ...    ...    ...    ...       ...     ...
8446       108        13        30     50     17     30         0     130
8447       108        12        30     53     16     10         0      80
8448       108        16        60     50     16     20         0      80
8449       128        16        30     53     17     30         0      80
8450       108        13        60     53     21     30         0     100

      CAR_CO  CHOICE
0         65       2
1         84       2
2         52       2
3         52       2
4         84       2
...      ...     ...
8446      64       1
8447      80       1
8448      64       1
8449     104       1
8450      80       1

[6768 rows x 28 columns]

__MODEL SPECIFICATION__

PARAMETERS TO BE ESTIMATED

In [47]:
ASC_CAR = Beta(name='ASC_CAR', value=0, lowerbound= None, upperbound=None, status= 0)
 #status  = 0 means that the parameter is to be estimated
 #status = 1 means parameter has to constant as it is
ASC_TRAIN = Beta('ASC_TRAIN', 0, None, None, 0)
ASC_SM = Beta('ASC_SM', 0, None, None, 1)
B_TIME = Beta('B_TIME', 0, None, None, 0)
B_COST = Beta('B_COST', 0, None, None, 0)

Definition of new variables

In [49]:
SM_COST = SM_CO * (GA == 0)
TRAIN_COST = TRAIN_CO * (GA == 0)
CAR_AV_SP = CAR_AV * (SP != 0) #SP = Stated preference
TRAIN_AV_SP = TRAIN_AV * (SP != 0)
TRAIN_TT_SCALED = TRAIN_TT/100.0
TRAIN_COST_SCALED = TRAIN_COST/100
SM_TT_SCALED= SM_TT/100.0
SM_COST_SCALED = SM_COST/100
CAR_TT_SCALED = CAR_TT/100
CAR_CO_SCALED = CAR_CO/100

Specification of utility function

In [139]:
V1 = ASC_TRAIN + B_TIME * TRAIN_TT_SCALED + B_COST * TRAIN_COST_SCALED
V2 = ASC_SM + B_TIME * SM_TT_SCALED + B_COST * SM_COST_SCALED
V3 = ASC_CAR + B_TIME * CAR_TT_SCALED + B_COST * CAR_CO_SCALED

Associate the utility function with the numbering of alternatives

In [140]:
V = {1: V1,2: V2,3: V3}

Associate the availability conditions with the alternatives

In [141]:
av = {1: TRAIN_AV_SP,2: SM_AV,3: CAR_AV_SP}

log likelihood function

In [142]:
logprob = models.loglogit(V,av,CHOICE)

__CREATING THE MODEL__

In [143]:
model = bio.BIOGEME(database,logprob)
model.modelName = "MNL_Model"

Running The Estimate

In [144]:
results = model.estimate()

READ THE RESULTS

In [145]:
Data_results = results.getEstimatedParameters()
Data_results

              Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR   -0.154632      0.058163    -2.658586      0.007847
ASC_TRAIN -0.701187      0.082562    -8.492846      0.000000
B_COST    -1.083791      0.068225   -15.885522      0.000000
B_TIME    -1.277860      0.104254   -12.257125      0.000000

In [146]:
print(results)

Results for model MNL_Model
Output file (HTML):			MNL_Model~07.html
Nbr of parameters:		4
Sample size:			6768
Excluded data:			0
Init log likelihood:		-5332.093
Final log likelihood:		-5331.252
Likelihood ratio test (init):		1.68217
Rho square (init):			0.000158
Rho bar square (init):			-0.000592
Akaike Information Criterion:	10670.5
Bayesian Information Criterion:	10697.78
Final gradient norm:		0.0001231191
ASC_CAR        : -0.155[0.0432 -3.58 0.000348][0.0582 -2.66 0.00785]
ASC_TRAIN      : -0.701[0.0549 -12.8 0][0.0826 -8.49 0]
B_COST         : -1.08[0.0518 -20.9 0][0.0682 -15.9 0]
B_TIME         : -1.28[0.0569 -22.5 0][0.104 -12.3 0]
('ASC_TRAIN', 'ASC_CAR'):	0.00138	0.58	-11.9	0	0.0039	0.812	-11.2	0
('B_COST', 'ASC_CAR'):	0.000485	0.216	-15.5	0	2.86e-05	0.00722	-10.4	0
('B_COST', 'ASC_TRAIN'):	8.22e-06	0.00289	-5.08	3.85e-07	-0.000831	-0.147	-3.34	0.000842
('B_TIME', 'ASC_CAR'):	-0.00144	-0.585	-12.6	0	-0.00482	-0.796	-7.27	3.72e-13
('B_TIME', 'ASC_TRAIN'):	-0.00225	-0.722	-5.56	2.69e-08	-0.0076	-0.883	-3.18	0.00147
('B_TIME', 'B_COST'):	0.00055	0.187	-2.79	0.0052	0.0022	0.309	-1.84	0.0658

__PREDICTING THE VALUES AND CALCULATING ACCURACY OF THE MODEL__

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
data = pd.read_table("swissmetro.dat")
print(data['CHOICE'].unique())  # Check unique values in CHOICE
print(data['PURPOSE'].unique())  # Check unique values in PURPOSE

[2 1 3 0]
[1 2 3 4 5 6 7 8 9]

FILTER AND PREPARE DATA

In [54]:
exclude = ((data['PURPOSE'] != 1) & (data['PURPOSE'] != 3) | (data['CHOICE'] == 0))
filtered_data = data[~exclude]

SPLITTING INTO TRAIN AND TEST

In [55]:
#Split Data into Train and Test Sets
train_data, test_data = train_test_split(filtered_data, test_size=0.3, random_state=42)

CREATE BIOGEME DATABASES

In [56]:
# Create Biogeme databases for train and test data
train_database = db.Database("train_swissmetro", train_data)
test_database = db.Database("test_swissmetro", test_data)

In [62]:
V1 = ASC_TRAIN + B_TIME * TRAIN_TT_SCALED + B_COST * TRAIN_COST_SCALED
V2 = ASC_SM + B_TIME * SM_TT_SCALED + B_COST * SM_COST_SCALED
V3 = ASC_CAR + B_TIME * CAR_TT_SCALED + B_COST * CAR_CO_SCALED

In [63]:
V = {1: V1,2: V2,3: V3}

In [64]:
av = {1: TRAIN_AV_SP,2: SM_AV,3: CAR_AV_SP}

In [65]:
logprob = models.loglogit(V,av,CHOICE)

TRAIN THE MODEL

In [66]:
train_model = bio.BIOGEME(train_database, logprob)
train_model.modelName = "MNL_Model"
results = train_model.estimate()

In [67]:
# Print estimated parameters
print("Estimated Parameters:")
print(results.getEstimatedParameters())

Estimated Parameters:
              Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR   -0.197232      0.074253    -2.656197  7.902738e-03
ASC_TRAIN -0.740818      0.105495    -7.022269  2.182921e-12
B_COST    -1.106691      0.077882   -14.209881  0.000000e+00
B_TIME    -1.191172      0.132775    -8.971365  0.000000e+00

PREDICTING VALUES

We use the estimated parameters to simulate choices for the test data. Biogeme does not have a direct predict function, so we simulate the choice probabilities and choose the alternative with the highest probability.

In [68]:
# Retrieve Beta Values
beta_values = results.getBetaValues()
beta_values

{'ASC_CAR': -0.19723153300957064,
 'ASC_TRAIN': -0.7408177012759339,
 'B_COST': -1.1066905582366664,
 'B_TIME': -1.1911720539544959}

To predict choices for new data (test dataset), we simulated choice probabilities using the estimated parameters (beta_values). Biogeme's simulate function calculates the choice probabilities (Prob1, Prob2, Prob3 for alternatives 1, 2, and 3).

In [69]:

# Define expressions to compute probabilities for each alternative
prob1 = models.logit(V, av, 1)
prob2 = models.logit(V, av, 2)
prob3 = models.logit(V, av, 3)

In [71]:
# Create a dictionary of the probability expressions
simulate = {
    'Prob1': prob1,
    'Prob2': prob2,
    'Prob3': prob3
}

In [72]:
# Simulate probabilities for the test dataset
test_model = bio.BIOGEME(test_database, simulate)
simulated_probs = test_model.simulate(beta_values)

The chosen alternative [`3.0`] is not available for the following observations (rownumber[choice]): 6[3.0]-7[3.0]-10[3.0]-16[3.0]-25[3.0]-26[3.0]-28[3.0]-31[3.0]-33[3.0]-34[3.0]-38[3.0]-46[3.0]-48[3.0...
The chosen alternative [`3.0`] is not available for the following observations (rownumber[choice]): 6[3.0]-7[3.0]-10[3.0]-16[3.0]-25[3.0]-26[3.0]-28[3.0]-31[3.0]-33[3.0]-34[3.0]-38[3.0]-46[3.0]-48[3.0...

In [73]:
# Print simulated probabilities to debug
print("Simulated Probabilities:")
print(simulated_probs.head())

Simulated Probabilities:
         Prob1     Prob2     Prob3
457   0.195350  0.571999  0.232651
8161  0.126237  0.534150  0.339613
217   0.103698  0.448977  0.447325
5998  0.113704  0.664866  0.221430
534   0.070915  0.104269  0.824817

In [74]:

# Predict the choice with the highest probability for each observation
#This finds the alternative with the highest simulated probability for each observation. 
# and extracts the choice number (1, 2, or 3) from the column name ('Prob1', 'Prob2', 'Prob3')
simulated_choices = simulated_probs.idxmax(axis=1).apply(lambda x: int(x[-1]))

CALCULATING ACCURACY

After simulating choice probabilities, we determine the choice with the highest probability (simulated_choices.idxmax(axis=1)) for each observation in the test dataset. we compare these simulated choices against the actual choices (test_data['CHOICE']) to calculate accuracy.

In [183]:
# Ensure the actual choices column exists in test_data
actual_choices = test_data['CHOICE'].values

In [182]:
# Print simulated and actual choices to debug
print("Simulated Choices:")
print(simulated_choices.head())
print("Actual Choices:")
print(actual_choices[:5])

# Compute accuracy
accuracy = (simulated_choices == actual_choices).mean()
print(f"Accuracy: {accuracy * 100:.2f}%")

Simulated Choices:
457     2
8161    2
217     2
5998    2
534     3
dtype: int64
Actual Choices:
[2 3 3 3 3]
Accuracy: 68.69%